/*
body {
  background-image: url(../img/email-pattern.png);
}
*/

.logo {
  font-family: 'Peralta', cursive;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
