asgiref==3.2.3
astroid==2.3.3
autopep8==1.4.4
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.1
colorthief==0.2.1
Django==3.0.3
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.18.0
oauthlib==3.1.0
Pillow==6.2.1
pycodestyle==2.5.0
pyjokes==0.6.0
PyJWT==1.7.1
pylint==2.4.4
PyPDF2==1.26.0
PySocks==1.7.1
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.3.0
scipy==1.4.1
selenium==3.141.0
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.0
tweepy==3.8.0
twilio==6.35.1
urllib3==1.25.7
wrapt==1.11.2
