{% extends "base_footer.html" %}
{% block title %}
Winter Winn
{% endblock %}

{% block content %}
<h5>Select an app to run:</h5>
<ul>
    <li class='mb-3 mt-3'><a href="boards/">Boards</a></li>
    <li class='mb-3'><a href="polls/">Polls</a></li>
    <li class='mb-3'><a href="catalog/">Local Library</a></li>
    <li class='mb-3'><a href="admin/">Admin site</a></li>
</ul>

<h5 class='mt-5'>Sibling websites:</h5>
<div class="list-group">
  <a class="list-group-item list-group-item-action" href="winter_winnpy/">Winter WinnPy (React + Node + Firebase + OAuth)</a>
  <a class="list-group-item list-group-item-action" href="winter_univer/">Winter's Website (Python + Flask)</a>
  <a class="list-group-item list-group-item-action" href="face_recognition/">Smart Face Recognition (React + Node + PostgreSQL)</a>
</div>
{% endblock %}
