{% extends "base.html" %}


{% block title %}
Winter Winn
{% endblock %}

{% block content %}
<h4>Select an app to run:</h4>
<ul>
    <li><a href="boards/">Boards</a></li>
</ul>
<ul>
    <li><a href="polls/">Polls</a></li>
</ul>
<ul>
    <li><a href="admin/">Admin site</a></li>
</ul>

<h4>Sibling websites:</h4>
<div class="list-group">
  <a href="winter_winnpy/" class="list-group-item list-group-item-action">&bull; Winter WinnPy (React + Node + Firebase + OAuth)</a>
  <a href="winter_univer/" class="list-group-item list-group-item-action">&bull; Winter's Website (Python + Flask)</a>
  <a href="face_recognition/" class="list-group-item list-group-item-action">&bull; Smart Face Recognition (React + Node + PostgreSQL)</a>
</div>
{% endblock %}

{% block breadcrumb %}
Winter's Homepage
{% endblock %}