{% extends "base.html" %}


{% block title %}
Winter Winn
{% endblock %}

{% block content %}
<h3>Select an app to run:</h2>
<ul>
    <li><a href="boards/">Boards</a></li>
</ul>
<ul>
    <li><a href="polls/">Polls</a></li>
</ul>
<ul>
    <li><a href="admin/">Admin site</a></li>
</ul>

<h3>Select a sibling website to browse:</h2>
<ul>
    <li><a href="winter_winnpy/">Winter WinnPy (React + Node + Firebase + OAuth)</a></li>
    <li><a href="winter_univer/">Winter's Website (Python + Flask)</a></li>
    <li><a href="face_recognition/">Smart Face Recognition (React + Node + PostgreSQL)</a></li>
</ul>
{% endblock %}

{% block breadcrumb %}
Winter's Homepage
{% endblock %}