{% extends "catalog/base_gen_sidebar.html" %}

{% block content %}
  <h1>{{ author.last_name }}, {{ author.first_name }}</h1>
  <p>{{ author.date_of_birth }} - {% if author.date_of_death %} {{ author.date_of_death}} {% endif %} </p>

  <div class='card w-75 borderless'>
    <div class="card-header">Books</div>
    <div class='card-body'>
      <ul class="list-group list-group-flush">
        {% for book in author.book_set.all %}
        <li class="list-group-item border-1">
          <a href="{% url 'catalog:book-detail' book.pk %}">{{ book.title }}</a><br>
          {{ book.summary }}          
        </li>
        {% endfor %}
      </ul>  
    </div>
  </div>
{% endblock %}