{% extends 'base_no_breadcrumb.html' %}
{% block title %}Local Library{% endblock %}
{% load static %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'catalog/css/catalog.css' %}">
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
        <ul class="sidebar-nav">
          <li><a href="{% url 'catalog:index' %}">Home</a></li>
          <li><a href="">All books</a></li>
          <li><a href="">All authors</a></li>
        </ul>
      {% endblock %}
      </div>
      <div class="col-sm-10 ">{% block libcontent %}{% endblock %}</div>
    </div>
  </div>
{% endblock %}



